* {
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: border-box;
}

html {
  padding: 40px;
  background-image: url(http://media-cache-ak0.pinimg.com/736x/84/64/3d/84643d24d865b78f2797738ba29ec3f9.jpg);
  background-size: cover;
}

body {
  position: relative;
}

.belt {
  position: absolute;
  bottom: 90px;
  left: 20px;
  right: 20px;
  height: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #513f3e;
  width: 75%;
}

.belt:before {
  background-image: linear-gradient(90deg, #513f3e 25%, transparent 25%, transparent 50%, #513f3e 50%, #513f3e 75%, transparent 75%, transparent);
  background-size: 30px 30px;
  position: absolute;
  content: '';
  display: block;
  height: 10px;
  left: 10px;
  right: 11px;
  top: -2px;
}

.belt:before {
  -webkit-animation: moveLeft 9s infinite;
}

@-webkit-keyframes moveLeft {
  to {
    background-position: 100%;
  }
}
.product-container {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 120px;
  -webkit-animation: inConveyor ease-in 4s;
}

.product {
  position: relative;
  width: 50px;
  height: 50px;
  background: red;
}

@-webkit-keyframes inConveyor {
  80% {
    -webkit-transform: translate(80%, 0);
  }
  100% {
    -webkit-transform: translate(90%, 100%);
  }
}
